
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml



# Python cache / virtual env
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtualenv
.venv/
env/
venv/

# Jupyter / notebooks
.ipynb_checkpoints/


